@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 356.5 93.4% 35.9%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* Tiptap */
@layer base {
  :root {
    --mt-overlay: rgba(251, 251, 251, 0.75);
    --mt-transparent-foreground: rgba(0, 0, 0, 0.4);
    --mt-bg-secondary: rgba(251, 251, 251, 0.8);
    --mt-code-background: #082b781f;
    --mt-code-color: #d4d4d4;
    --mt-secondary: #9d9d9f;
    --mt-pre-background: #ececec;
    --mt-pre-border: #e0e0e0;
    --mt-pre-color: #2f2f31;
    --mt-hr: #dcdcdc;
    --mt-drag-handle-hover: #5c5c5e;

    --mt-accent-bold-blue: #05c;
    --mt-accent-bold-teal: #206a83;
    --mt-accent-bold-green: #216e4e;
    --mt-accent-bold-orange: #a54800;
    --mt-accent-bold-red: #ae2e24;
    --mt-accent-bold-purple: #5e4db2;

    --mt-accent-gray: #758195;
    --mt-accent-blue: #1d7afc;
    --mt-accent-teal: #2898bd;
    --mt-accent-green: #22a06b;
    --mt-accent-orange: #fea362;
    --mt-accent-red: #c9372c;
    --mt-accent-purple: #8270db;

    --mt-accent-blue-subtler: #cce0ff;
    --mt-accent-teal-subtler: #c6edfb;
    --mt-accent-green-subtler: #baf3db;
    --mt-accent-yellow-subtler: #f8e6a0;
    --mt-accent-red-subtler: #ffd5d2;
    --mt-accent-purple-subtler: #dfd8fd;

    --hljs-string: #aa430f;
    --hljs-title: #b08836;
    --hljs-comment: #999999;
    --hljs-keyword: #0c5eb1;
    --hljs-attr: #3a92bc;
    --hljs-literal: #c82b0f;
    --hljs-name: #259792;
    --hljs-selector-tag: #c8500f;
    --hljs-number: #3da067;
  }

  .dark {
    --mt-overlay: rgba(31, 32, 35, 0.75);
    --mt-transparent-foreground: rgba(255, 255, 255, 0.4);
    --mt-bg-secondary: rgba(31, 32, 35, 0.8);
    --mt-code-background: #ffffff13;
    --mt-code-color: #2c2e33;
    --mt-secondary: #595a5c;
    --mt-pre-background: #080808;
    --mt-pre-border: #23252a;
    --mt-pre-color: #e3e4e6;
    --mt-hr: #26282d;
    --mt-drag-handle-hover: #969799;

    --mt-accent-bold-blue: #85b8ff;
    --mt-accent-bold-teal: #9dd9ee;
    --mt-accent-bold-green: #7ee2b8;
    --mt-accent-bold-orange: #fec195;
    --mt-accent-bold-red: #fd9891;
    --mt-accent-bold-purple: #b8acf6;

    --mt-accent-gray: #738496;
    --mt-accent-blue: #388bff;
    --mt-accent-teal: #42b2d7;
    --mt-accent-green: #2abb7f;
    --mt-accent-orange: #a54800;
    --mt-accent-red: #e2483d;
    --mt-accent-purple: #8f7ee7;

    --mt-accent-blue-subtler: #09326c;
    --mt-accent-teal-subtler: #164555;
    --mt-accent-green-subtler: #164b35;
    --mt-accent-yellow-subtler: #533f04;
    --mt-accent-red-subtler: #5d1f1a;
    --mt-accent-purple-subtler: #352c63;

    --hljs-string: #da936b;
    --hljs-title: #f1d59d;
    --hljs-comment: #aaaaaa;
    --hljs-keyword: #6699cc;
    --hljs-attr: #90cae8;
    --hljs-literal: #f2777a;
    --hljs-name: #5fc0a0;
    --hljs-selector-tag: #e8c785;
    --hljs-number: #b6e7b6;
  }
}

/* PhotoSwipe customization */
.pswp__img {
  object-fit: contain !important;
}

.pswp__zoom-wrap {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* CSS classes outside of shadcn and libraries */
.header-container {
  position: relative;
  min-height: 100px;
}

.active-menu {
  position: relative;
  background-color: #a30022;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  margin-top: -2px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.active-menu::before {
  content: "";
  position: absolute;
  top: -10px; /* Extend well above to ensure no gap */
  left: 0;
  right: 0;
  height: 12px; /* Taller than needed to ensure overlap */
  background-color: #a30022;
  z-index: -1; /* Behind the text but in front of any white space */
}

.logo-menu::before {
  top: -6px;
  height: 8px;
}

.logo-menu img {
  position: relative;
  z-index: 5;
}

/* Responsive adjustments for sidebar open state */
@media (max-width: 768px) {
  .sidebar-open .container {
    padding-left: 1rem !important;
  }
}

/* existing CSS */
@layer utilities {
  .shimmer {
    background: linear-gradient(
      to right,
      theme("colors.gray.300") 0%,
      theme("colors.gray.400") 20%,
      theme("colors.gray.300") 40%,
      theme("colors.gray.300") 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    50% {
      background-position: -200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

/* Typhography */
@layer utilities {
  .heading-node {
    @apply relative font-semibold;
  }

  .heading-node:first-child {
    @apply mt-0;
  }

  h1,
  .heading-node[level="1"] {
    @apply mb-4 mt-[46px] text-[1.375rem] leading-7 tracking-[-0.004375rem];
  }

  h2,
  .heading-node[level="2"] {
    @apply mb-3.5 mt-8 text-[1.1875rem] leading-7 tracking-[0.003125rem];
  }

  h3,
  .heading-node[level="3"] {
    @apply mb-3 mt-6 text-[1.0625rem] leading-6 tracking-[0.00625rem];
  }

  h4,
  .heading-node[level="4"] {
    @apply mb-2 mt-4 text-[0.9375rem] leading-6;
  }

  h5,
  .heading-node[level="5"] {
    @apply mb-2 mt-4 text-sm;
  }

  h6,
  .heading-node[level="6"] {
    @apply mb-2 mt-4 text-sm;
  }

  a.link {
    @apply cursor-pointer text-primary;
  }

  a.link:hover {
    @apply underline;
  }
  code.inline {
    @apply rounded border border-[var(--mt-code-color)] bg-[var(--mt-code-background)] px-1 py-0.5 text-sm;
  }

  pre {
    @apply relative overflow-auto rounded border font-mono text-sm;
    @apply border-[var(--mt-pre-border)] bg-[var(--mt-pre-background)] text-[var(--mt-pre-color)];
    @apply hyphens-none whitespace-pre text-left;
  }

  code {
    @apply break-words leading-[1.7em];
  }

  pre code {
    @apply block overflow-x-auto p-3.5;
  }

  pre {
    .hljs-keyword,
    .hljs-operator,
    .hljs-function,
    .hljs-built_in,
    .hljs-builtin-name {
      color: var(--hljs-keyword);
    }

    .hljs-attr,
    .hljs-symbol,
    .hljs-property,
    .hljs-attribute,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-params {
      color: var(--hljs-attr);
    }

    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-type,
    .hljs-addition {
      color: var(--hljs-name);
    }

    .hljs-string,
    .hljs-bullet {
      color: var(--hljs-string);
    }

    .hljs-title,
    .hljs-subst,
    .hljs-section {
      color: var(--hljs-title);
    }

    .hljs-literal,
    .hljs-type,
    .hljs-deletion {
      color: var(--hljs-literal);
    }

    .hljs-selector-tag,
    .hljs-selector-id,
    .hljs-selector-class {
      color: var(--hljs-selector-tag);
    }

    .hljs-number {
      color: var(--hljs-number);
    }

    .hljs-comment,
    .hljs-meta,
    .hljs-quote {
      color: var(--hljs-comment);
    }

    .hljs-emphasis {
      @apply italic;
    }

    .hljs-strong {
      @apply font-bold;
    }
  }
  /* Ordered Lists */
  /* Ordered Lists */
  ol {
    @apply ml-0 list-decimal pl-5;
  }

  ol ol {
    list-style: lower-alpha;
    @apply pl-5;
  }

  ol ol ol {
    list-style: lower-roman;
    @apply pl-5;
  }

  /* Unordered Lists */

  ul ul {
    list-style: circle;
    @apply pl-5;
  }

  ul ul ul {
    list-style: square;
    @apply pl-5;
  }

  /* Ensure list text aligns with other text elements */
  li {
    @apply leading-7;
  }

  li > * {
    @apply mb-0;
  }
}
@layer utilities {
  .animate-gradient-blue {
    background: linear-gradient(
      -45deg,
      theme("colors.blue.50") 0%,
      theme("colors.blue.100") 25%,
      theme("colors.blue.50") 50%,
      theme("colors.blue.100") 75%,
      theme("colors.blue.50") 100%
    );
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
  }

  .animate-gradient-emerald {
    background: linear-gradient(
      -45deg,
      theme("colors.emerald.50") 0%,
      theme("colors.emerald.100") 25%,
      theme("colors.emerald.50") 50%,
      theme("colors.emerald.100") 75%,
      theme("colors.emerald.50") 100%
    );
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
  }

  .animate-gradient-amber {
    background: linear-gradient(
      -45deg,
      theme("colors.amber.50") 0%,
      theme("colors.amber.100") 25%,
      theme("colors.amber.50") 50%,
      theme("colors.amber.100") 75%,
      theme("colors.amber.50") 100%
    );
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
  }

  .animate-gradient-red {
    background: linear-gradient(
      -45deg,
      theme("colors.red.50") 0%,
      theme("colors.red.100") 25%,
      theme("colors.red.50") 50%,
      theme("colors.red.100") 75%,
      theme("colors.red.50") 100%
    );
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.dark .animate-gradient-blue {
  background: linear-gradient(
    -45deg,
    theme("colors.blue.950") 0%,
    theme("colors.blue.900") 25%,
    theme("colors.blue.950") 50%,
    theme("colors.blue.900") 75%,
    theme("colors.blue.950") 100%
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

.dark .animate-gradient-emerald {
  background: linear-gradient(
    -45deg,
    theme("colors.emerald.950") 0%,
    theme("colors.emerald.900") 25%,
    theme("colors.emerald.950") 50%,
    theme("colors.emerald.900") 75%,
    theme("colors.emerald.950") 100%
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

.dark .animate-gradient-amber {
  background: linear-gradient(
    -45deg,
    theme("colors.amber.950") 0%,
    theme("colors.amber.900") 25%,
    theme("colors.amber.950") 50%,
    theme("colors.amber.900") 75%,
    theme("colors.amber.950") 100%
  );
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
}

.dark .animate-gradient-red {
  background: linear-gradient(
    -45deg,
    theme("colors.red.950") 0%,
    theme("colors.red.900") 25%,
    theme("colors.red.950") 50%,
    theme("colors.red.900") 75%,
    theme("colors.red.950") 100%
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}
